<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Post</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/header.css">
    <!-- Include stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="nav container">
            <!-- LOGO -->
             <a href="/" class="logo">Community<span>Blog</span></a>
             <!-- NAV -->
              <div class="nav-right">
                <a href="/admin" class="admin-btn">
                    <i class="bx bx-user"></i>
                    Dashboard
                </a>
                <a href="/add" class="write-btn">
                    <i class="bx bx-pencil"></i>
                    Write
                </a>
              </div>
        </div>
    </header>
    <div class="add-post">
        <h1>Add New Post</h1>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="title" id="" placeholder="Title" required />
            <input type="text" name="category" id="" placeholder="Category" />

            <div id="editor-container" style="height: 200px"></div>
            <input type="hidden" name="content" id="content" />
            <input type="file" name="image" accept="image/*" />

            <button type="submit">Add Post</button>

        </form>
        <a href="/">Back to Home</a>
    </div>



    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <script>
        var quill = new Quill('#editor-container', {
            theme:'snow',
        })
        var form = document.querySelector('form')
        form.onsubmit = function() {
            var content = document.querySelector('input[name=content]')
            content.value = quill.root.innerHTML
        }
    </script>
</body>
</html>