<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <!-- HEADER -->
    <header>
        <div class="nav container">
            <!-- LOGO -->
             <a href="/" class="logo">Nemoto<span>Blog</span></a>
             <!-- NAV -->
              <div class="nav-right">
                <a href="/admin" class="admin-btn">
                    <i class="bx bx-user"></i>
                </a>
                <a href="/add" class="write-btn">
                    <i class="bx bx-pencil"></i>
                    Write
                </a>
              </div>
        </div>
    </header>

    <!-- POST CONTENT -->

    <section class="post-header">
        <div class="header-content post-container">
            <h2 class="post-category" id="post_category"></h2>
            <!-- TITLE -->
             <h1 class="header-title" id="post-title"></h1>

             <!-- POST IMAGE -->
            <div id="post-image"></div>

        </div>
    </section>
    <section class="post-content post-container" id="post-content"></section>

    <!-- SHARE -->

    <div class="share post-container">
        <span class="share-title">Share this article</span>
        <div class="social">
            <a href="#">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="#">
                <i class="bx bxl-twitter"></i>
            </a>
            <a href="#">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#">
                <i class="bx bxl-linkedin"></i>
            </a>
        </div>
    </div>
    
    <!-- FOOTER -->

    <div class="footer container">
        <p>&#169; NemotoDev</p>
        <div class="social">
            <a href="#">
                <i class="bx bxl-facebook"></i>
            </a>
            <a href="#">
                <i class="bx bxl-twitter"></i>
            </a>
            <a href="#">
                <i class="bx bxl-instagram"></i>
            </a>
            <a href="#">
                <i class="bx bxl-linkedin"></i>
            </a>
        </div>
    </div>

    <!-- LINK TO JS -->

    <script src="/js/main.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const postTitle = decodeURIComponent(
                window.location.pathname.split("/").pop()
            )
            .replace(/-/g, " ")
            .trim()

            fetch(`/post/${encodeURIComponent(postTitle)}`)
            .then((response) => {
                if(!response.ok) {
                    throw new Error(`Error: ${response.statusText}`)
                }
                return response.json()
            })

            .then((post) => {
                document.getElementById('post-title').innerText = post.title
                document.getElementById('post_category').innerText = post.category
                if(post.image) {
                    document.getElementById(
                        "post-image"
                    ).innerHTML = `<img src="${post.image}" alt="${post.title}">`
                }
                document.getElementById("post-content").innerHTML = post.content
            })
            .catch((error) => {
                console.error("Error fetching post details", error)
                document.getElementById("post-content").innerText = "Error fetching post details"
            }) 
            console.log(postTitle)
        })
    </script>
</body>
</html>