@import "styles.css";

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.3s;
}
header.shadow .nav {
  background: #073841;
}
header.shadow .logo,
header.shadow .admin-btn .bx {
  color: var(--bg-color);
}

.navbar.container {
  max-width: 1060px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav {
  background: var(--bg-color);
  padding: 12px 20px;
  width: 100%;
}

.nav-right {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.admin-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bg-color);
  background: var(--second-color);
  padding: 7px 17px;
  font-size: 1rem;
  border-radius: 8px;
}
.admin-btn .bx {
  color: var(--bg-color);
  font-size: 20px;
}
.write-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bg-color);
  background: var(--second-color);
  padding: 7px 17px;
  font-size: 1rem;
  border-radius: 8px;
}
