@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}

/* VARIABLES */
:root {
  --second-color: rgb(36, 103, 141);

  --text-color: #001244;
  --container-color: #01282f;
  --bg-color: #fff;
  --text-alter-color: hsla(248, 67%, 5%, 0.6);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
section {
  padding: 3rem 0 2rem;
}
.container {
  max-width: 1060px;
  margin: auto;
  width: 100%;
}

.logo {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-alter-color);
}
.logo span {
  color: var(--second-color);
}

.home {
  width: 100%;
  min-height: 85vh;
  background: var(--container-color);
  display: grid;
  justify-content: center;
  align-items: center;
  border: 2px solid blue;
}
.home-content h2 {
  font-size: 3.5rem;
  color: var(--bg-color);
  text-align: center;
}
.search-box {
  background: var(--bg-color);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 1.5rem;
}
.search-box .bx {
  font-size: 20px;
  color: var(--text-color);
}
.search-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding: 10px 0;
}

/* POST */

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 1.5rem;
  border: 2px solid red;
}
.post {
  border: 1px solid orange;
  background: #ccc;
  padding: 15px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post:hover {
  box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
  transition: box-shadow 0.4s;
}
.post-img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.post-category {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--second-color);
  margin-top: 12px;
}
.post-title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-desc {
  font-size: 0.84rem;
  line-height: 1.4rem;
  color: var(--text-alter-color);
  margin: 5px 0 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.read-more {
  font-size: 0.96rem;
  color: var(--text-alter-color);
}
.read-more:hover {
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}

/* FOOTER */

.footer-main {
  background: #073841;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer p {
  font-size: 0.9rem;
}
.social {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.social .bx {
  font-size: 1.4rem;
  color: var(--text-color);
}
.social .bx:hover {
  color: var(--second-color);
  transition: 0, 3s all linear;
}

.post-header {
  width: 100%;
  height: 100vh;
  background: var(--container-color);
  border: 2px solid orange;
}
.post-container {
  max-width: 960px;
  padding: 1rem;
  margin: 4rem auto;
  width: 100%;
  display: flex;
  gap: 1rem;
}
.header-content {
  margin-top: 4rem !important;
}
.post-info {
  flex: 2;
}
.post-category {
  color: var(--second-color);
  font-size: 1rem;
  text-align: center;
  padding: 0.2rem 0;
  font-weight: 500;
}
.header-title {
  width: 90%;
  font-size: 2rem;
  color: var(--bg-color);
  text-align: center;
  margin-bottom: 1rem;
}
#post-image {
  width: 100%;
  height: 300px;
  flex: 2;
}
#post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.post-content {
  border: 2px solid red;
  color: #eee;
  height: 100%;
}
.post-content p {
  font-size: 1rem;
  line-height: 1.7rem;
  text-align: justify;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.share-title {
  font-size: 1.1rem;
}

.add-post {
  padding: 6rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--container-color);
  min-height: 100vh;
}
.add-post h1 {
  font-size: 2rem;
  color: var(--bg-color);
  margin-bottom: 2rem;
  text-align: center;
}
.add-post form {
  width: 95%;
  max-width: 640px;
  background: var(--bg-color);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 14px hsl(355deg 25% 15% /10%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add-post form input[type="text"],
.add-post form input[type="file"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
}
#editor-container {
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.add-post form button {
  padding: 0.75rem 1.5rem;
  background: var(--second-color);
  color: var(--bg-color);
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.add-post form button:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}
.add-post a {
  margin-top: 1rem;
  font-size: 1rem;
  color: var(--second-color);
  text-align: center;
  display: block;
  text-decoration: none;
}

/* ADMIN PANEL */

.admin-panel {
  padding: 6rem 1rem;
  background: var(--container-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin-panel .menu-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1060px;
  padding: 0.6rem 1rem;
}
.admin-panel h1 {
  font-size: 2rem;
  color: var(--bg-color);
  text-align: center;
}
.add-post-link {
  font-size: 1.2rem;
  background: var(--second-color);
  color: #eee;
  padding: 0.6rem 1rem;
  border-radius: 8px;
}
#post-table {
  width: 100%;
  max-width: 1060px;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
#post-table th,
#post-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}
#post-table th {
  font-weight: 600;
  background: var(--second-color);
  color: var(--bg-color);
  text-transform: uppercase;
}
#post-table td {
  color: var(--bg-color);
}
#post-table img {
  width: 100px;
  height: 66px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}
.delete-button {
  padding: 0.5rem 1rem;
  background: var(--second-color);
  color: var(--bg-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.delete-button:hover {
  background: var(--text-color);
}

.admin-back-link {
  font-size: 1.2rem;
  background: var(--second-color);
  color: #eee;
  padding: 0.6rem 1rem;
  border-radius: 8px;
}

.post-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  margin-top: 2rem !important;
  border: 2px solid orange;
}
.filter-item {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.active-filter {
  background: var(--second-color);
  color: var(--bg-color);
  padding: 4px 10px;
  border-radius: 4px;
}

/* RESPONSIVE */

@media (max-width: 1060px) {
  .container {
    margin: 0 auto;
    width: 95%;
  }
  .home-content h2 {
    font-size: 3rem;
  }
}

@media (max-width: 920px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
  ul {
    padding-left: 20px;
  }
}

@media (max-width: 800px) {
  .post-container {
    margin: 0 auto;
    width: 95%;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 8px 12px;
  }
  section {
    padding: 2rem 0;
  }
  .header-content {
    margin-top: 4rem !important;
  }
  .home {
    min-height: 380px;
  }
  .home-content h2 {
    font-size: 2.4rem;
  }
  .header-title {
    font-size: 1.6rem;
    font-weight: 500;
  }
  #post-image {
    height: 380px;
  }
  .post-header {
    height: 405px;
  }
  .post-content {
    margin-top: 9rem !important;
  }
  .add-post h1,
  .admin-panel h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 570px) {
  tr {
    display: grid;
  }
  .posts {
    grid-template-columns: 1fr;
  }
  .post-header {
    height: 390px;
  }
  #post-image {
    height: 320px;
  }
  .footer {
    flex-direction: coluns;
    row-gap: 1rem;
    padding: 20px 0;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .logo {
    font-size: 1.2rem;
  }
  .home-content h2 {
    font-size: 2rem;
  }
  .home {
    min-height: 300px;
    padding-top: 4rem !important;
  }
  .post {
    padding: 10px;
  }
  .header-title {
    font-size: 1.4rem;
  }
  #post-image {
    height: 240px;
  }
  .post-header {
    height: 335px;
  }
  .post-content {
    margin-top: 5rem !important;
  }
}
